<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UsuarioSV</servlet-name>
        <servlet-class>copgo.controller.UsuarioSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioAction</servlet-name>
        <servlet-class>copgo.action.UsuarioAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OcorrenciaAction</servlet-name>
        <servlet-class>copgo.action.OcorrenciaAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OcorrenciaSV</servlet-name>
        <servlet-class>copgo.controller.OcorrenciaSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioSV</servlet-name>
        <url-pattern>/UsuarioSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAction</servlet-name>
        <url-pattern>/UsuarioAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OcorrenciaAction</servlet-name>
        <url-pattern>/OcorrenciaAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OcorrenciaSV</servlet-name>
        <url-pattern>/OcorrenciaSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
